<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.dasher</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin/:$PATH</string>
      <key>NODE_ENV</key>
      <string>production</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>script/server</string>
    </array>

    <key>AbandonProcessGroup</key>
    <false/>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>WorkingDirectory</key>
    <string>%PATH%</string>

    <key>StandardErrorPath</key>
    <string>/Library/Logs/dasher.log</string>

    <key>StandardOutPath</key>
    <string>/Library/Logs/dasher.log</string>

  </dict>
</plist>
